# =========================
# Large data & artifacts
# =========================
dataset/
preprocessing/
models/

# =========================
# ML / LLM artifacts
# =========================
*.pt
*.pth
*.bin
*.ckpt
*.onnx
*.h5
*.joblib

# =========================
# Python
# =========================
__pycache__/
*.pyc
.venv/
venv/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# MacOS
# =========================
.DS_Store
